
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CRUD</h1>
    <h4>Create - Read - Update - Delete</h4>
    <p>Start <a href="/person/create">creating</a> a few persons to try it.</p>
</div>
